.heading_grid_1{
    font-family: "Playfair Display", Georgia, serif;
    color: black; 
    font-weight: 300;
}

.heading_grid_2{
    font-family: "Playfair Display", Georgia, serif;
    color: black; 
    font-weight: 200;
}