.heading {
    font-family: "Libre Baskerville", serif;
    color: black; 
    text-transform: uppercase;
    letter-spacing: 2px;
    
}
.content{
       font-family: "Libre Baskerville", serif;
       color: black; 
   
   
}