.heading_grid_1T{
    font-family: "Playfair Display", Georgia, serif;
    color: black; 
    font-weight: 300;
}
.celebs{
   font-family: "Playfair Display", Georgia, serif;
   text-transform: capitalize;
}
