@import "tailwindcss";

/* Global Styles */
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: #f5f0f0;
}

/* Container for consistent padding */
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  
}

/* Background Utility */
.bg-org {
  background-color: #dad9d4;
}

.btn-org{
  background: #dad9d4 !important;
  color: #fff !important;
  font-weight: 400 !important;
  font-size: 200 !important;
  padding: 7px 20px !important;
}
 .btn-org:hover{
  background: #171717 !important;
}

.btn-org.btn-border{
  background: none !important;
  color: #dad9d4 !important;
  font-weight: 400 !important;
  font-size: 200 !important;
  padding: 7px 20px !important;
  border:1px solid #dad9d4;
}
 .btn-org.btn-border:hover{
  background: #171717 !important;
  color: #fff !important;
  border:1px solid #dad9d4 !important;
}

.btn-lg{
  background: #dad9d4 !important;
  color: #fff !important;
  font-weight:500 !important;
  font-size: 400 !important;
  padding: 10px 20px !important;
}
.btn-sm{
 
  font-size: 13px !important;
  padding: 5px 20px !important;
}

/* Link Hover */
.link:hover {
  color: #dad9d4;
  transition: color 0.3s ease;
  cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
  outline: none;
}
.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none;
  box-shadow: none;
}



/* Material UI Badge Override */
.MuiBadge-badge {
  background-color: #dad9d4 !important;
  color: black;
}

/* Header & Nav Buttons */
header button,
nav button {
  text-transform: uppercase !important;
}

/* Optional: Smooth scroll for better UX */
html {
  scroll-behavior: smooth;
}

/* Scrollbar styling for drawer/panel */


.scroll::-webkit-scrollbar {
  width: 3px !important;
  
}

.scroll::-webkit-scrollbar-thumb {
  background: #ccc !important;
  
}


.cartPanel .MuiPaper-root {
  width: 400px;
  overflow: hidden;
}

/* Optional: for mobile responsiveness tweaks */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}