.productItem2 .title{
    line-height: 20px;
    
}
.productItem2 .oldPrice,.Price{
    font-family: "Playfair Display", Georgia, serif;
    
}
.productItem2 .action button:hover svg{color: #fff !important;}
.productItem2 .action button svg{pointer-events: none !important;}
